h1 {
  text-align: center;
}

.box {
  text-align: center;
  margin: 35px;
  font-weight: bold;
}

.list {
  margin: 20px
}

h3 {
  font-family: 'Merriweather', serif;
  color: #696969;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

body {
  background-color: #FFFBF3;
}
