<<<<<<< HEAD

// Specific CSS for your home-page
.container{
  background-color: white;
  height: auto;
=======
.main-card{
  background-color: white;
  height: 100%;
>>>>>>> e1b602b07ed7913b07843bb0afc9bf534ca1148e
}

.search{
  border-radius: 60%;
}

.card-product-bottom img {
  height: 300px;
  flex-grow: 1;
  margin: 0 8px;
  object-fit: cover;
}

.card-product-bottom img:first-child {
  margin-left: 0;
  border-radius: 8%;

}

.card-product-bottom img:last-child {
  margin-right: 0;
}

.card-product-bottom {
  display: flex;
  justify-content: space-around;
}

.card-pic{
  img {
    width: 350px;
    height: 300px;

  }
}

.landing{
  margin-left: 74px;
}

.card-product-infos{
  margin-left: 18px;
  padding: 15px;
  color: black;
}

#query{
  border-radius: 10px;
  border-width: thin;
  border-color: #3bc4f4;
}

.searching{
  border-radius: 10px;
  background-color: white;
  border-color: #3bc4f4;
  border-width: thin;
}

.card-trip-user{
  border-radius: 50%;
}
