.container3{
  background-color: #FFFBF3;
}

.title3{
  padding: 15px;
  margin-left: 110px;
  color: #696969 ;
  font-size: 40px;
  font-weight: bold;
}

.carousel-inner{
  padding-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Info{
  width: 38%;
  margin-left: 130px;
  padding-top: 25px;
  border: solid;
  border-width: 7px;
  border-color: pink;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #696969;
  font-weight: bold;
}

.Meeting{
  margin-left: 30px;
}

.Booking{
  border: solid;
  border-width: 7px;
  border-color: pink;
  padding-top: 25px;
  width: 38%;
  height: 50%;
  margin-left: 50px;
  color: #696969;
  padding-left: 20px;
  padding-bottom: 20px;
}

.full-carousel{
  width: 80%;
}

.BackButton {
  background-color:#eb89b5;
  border-radius: 15px;
  text-align: center;
  height: 50px;
  width: 155px;
  padding-left: 10px;
  padding-right:20px;
  margin-left: 45%;
  margin-top: 3%;

}
