.container{
  align-items: flex-start;
}


.title3{
  padding: 15px;
  margin-left: 85px;
}

.carousel-slide{
  margin-left: 100px;
}


.carousel-inner{
  width: 80%;
  padding-bottom: 20px;
}

.carousel-inner{
  img {
    width: 200px;
    height: 500px;
    object-fit: cover;
  }
}

.Info{
  width: 60%;
  margin-left: 96px;
  padding-top: 15px;
}

.Meeting{
  margin-left: 96px;
}
