<div class="container">

<div class="text-center">
</div>

<div class="bookingcard">
  <h1>YAY</h1>
  <p>Now sit back and wait for your friend to approve your rendesvouz, once they have, <p>
  <p>Its confirmed.</p>
  <p>Boom!</p>
  <iframe src="https://giphy.com/embed/5GoVLqeAOo6PK" width="280" height="275" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/excited-screaming-jonah-hill-5GoVLqeAOo6PK"></a></p>
  <div class="d-flex justify-content-center">
    <%= link_to "Back to Homepage", root_path, class:"back-btn mx-3" %>
    <%= link_to "Manage My Bookings",  bookings_path, class:"back-btn" %>
  </div>
</div>
