<div class="container">

<div class="text-center">
<h1>YAY</h1>
</div>

<div class="bookingtext px-10">
  <p>Now sit back and wait for your friend to approve your rendesvouz, once they have, <p>
  <p>Its confirmed.</p>
  <p>Boom!</p>
</div>


<p> <%= link_to "Back to Homepage", root_path, class:"back-btn" %> </p>
