<div class="container">

<div class="text-center">
<h1>YAY</h1>
</div>

<div class="bookingtext px-10">
  <p>Now sit back and wait for your friend to approve your rendesvouz,<p>
  <p>once they have, its confirmed.</p>
  <p>Boom!</p>
</div>


<%= link_to "Back to Homepage", root_path %>

</div>
