<h1>YAY</h1>

<div class="bookingtext">
  <p>Now sit back and wait for your friend to approve your rendesvouz, once they have<p>
  <p>We will send you an email once its confirmed.</p>
  <p>Boom!</p>
</div>
