<footer class="footer">
<div class="rights">
  <p>Company © Only Friends. All rights reserved.</p>
</div>
  <div class="address">
    <p>Contact address:</p>
    <p>Unit 13, 138 Kingsland Road, London, E2 8DY</p>
    <p>Tel: 020 7729 0146</p>
  </div>
</footer>
