<<<<<<< HEAD
<%# <%= render "shared/navbar" %>
<div class = "container" >

  <div class="border-bottom bg-white">
    <div class="container d-flex align-items-center justify-content-between py-2">
        <%# Toggle bars %>
          <ul style="list-style: none;">
            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa-solid fa-bars"></i>
             </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="#">Bookings</a>
               <a class="dropdown-item" href="#">Account </a>
               <a class="dropdown-item" href="#">Log Out </a>
              </div>
           </li>
         </ul>
    </div>
 </div>

=======
<%= render "shared/navbar" %>
<div class = "container" >

>>>>>>> 8426968e48de3892d0508df7efd40ea94b42f373

  <div class="d-flex justify-content-center mt-5">
      <%= image_tag "header.png" %>
  </div>
<<<<<<< HEAD

   <div class="search d-flex justify-content-center py-3">
    <form id="form">
      <input type="search" id="query" name="q" placeholder="Location...">
      <button><i class="fa-solid fa-magnifying-glass" id="glass"></i></button>
    </form>
   </div>

  <div class="New py-4">
    <h3> Newly Listed Friends </h3>
  </div>

   <div class="card-product-bottom">

      <div class="card-pic">
        <img src="https://source.unsplash.com/random" alt="" class="">
        <div class="card-product-infos">
          <div>
              <h3>Title here</h3>
              <p>Short description here!</p>
           </div>
              <h3 class="card-trip-pricing">£99.99</h3>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="rounded-circle"/>
            </div>
      </div>

      <div class="card-pic">
        <img src="https://source.unsplash.com/random" alt="" class="">
        <div class="card-product-infos">
          <div>
              <h3>Title here</h3>
              <p>Short description here!</p>
           </div>
              <h3 class="card-trip-pricing">£99.99</h3>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="rounded-circle"/>
            </div>
      </div>

      <div class="card-pic">
        <img src="https://source.unsplash.com/random" alt="" class="">
      <div class="card-product-infos">
          <div>
              <h3>Title here</h3>
              <p>Short description here!</p>
           </div>
              <h3 class="card-trip-pricing">£99.99</h3>
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="rounded-circle"/>
            </div>
      </div>

    </div>











=======
    <div class="search d-flex justify-content-center py-3">
      <form id="form">
      <input type="search" id="query" name="q" placeholder="Location...">
      <button><i class="fa-solid fa-magnifying-glass" id="glass"></i></button>
      </form>
    </div>
      <div class="card-product-bottom">
        <img src="https://source.unsplash.com/random" alt="" class="">
        <img src="https://source.unsplash.com/random" alt="" class="">
        <img src="https://source.unsplash.com/random" alt="" class="">
      </div>
>>>>>>> 8426968e48de3892d0508df7efd40ea94b42f373


</div>
